@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Monoton&family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero_section_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(116, 185, 251, 0.63) 100%
    ),
    url("../src/assets/hero.jpg");
}

.footer_gradient {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 5%,
    rgba(116, 185, 251, 0.6) 40%,
    rgba(116, 185, 251) 100%
  );
}

.restaurant_gradient_overlay {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0),
    rgba(5, 18, 31, 0.302) 100%
  );
}

.TodaySpecial_gradient_overlay {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255, 0),
    rgba(5, 18, 31, 0.5) 30%,
    rgba(5, 18, 31) 100%
  );
}

.bg_center_utility {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutSec_image_one {
  background-image: url("../src/assets/Rectangle 5.png");
}

.aboutSec_image_two {
  background-image: url("../src/assets/Rectangle 6.png");
}

.cardImageOne {
  background-image: url("../src/assets/Rectangle 17-1.png");
}

.cardImagetwo {
  background-image: url("../src/assets/Rectangle 17-1.png");
}
.cardImagethree {
  background-image: url("../src/assets/Rectangle 17-1.png");
}

.aroundHotelPool {
  background-image: url("../src/assets/Rectangle 19.png");
}

.aroundHotelBar {
  background-image: url("../src/assets/Rectangle 20.png");
}

.aroundHotelGym {
  background-image: url("../src/assets/Rectangle 22.png");
}

.vectorArrow {
  background-image: url("../src/assets/Vector 1.svg");
}

.foodGroupImage {
  background-image: url("../src/assets/Group\ 33.png");
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}
